@import '../../style/variables.scss';

.single-comics {
	display: flex;
	margin-top: 50px;

	&__img {
		height: 450px;
		width: 293px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-left: 50px;
		width: 550px;


		&__title {
			font-size: 22px;
			font-weight: 700;
			line-height: 26px;

		}
		&__desc {
			font-size: 18px;
			font-weight: 400;
			line-height: 21px;			
			
		}
		&__pages {
			@extend .single-comics__info__desc;
		}
		&__lang {
			@extend .single-comics__info__desc;
		}
		&__price {
			font-size: 24px;
			font-weight: 700;
			line-height: 28px;
			color: $main-color;
		}
		&__backlink {
			@extend .single-comics__info__desc;
			margin-left: 127px;
			font-weight: 700;

			&:hover {
				color: $main-color;
			}
		}
	}
}
